<h4>Book list view</h4>
<table border='1'> 

    <thead>
        <tr>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Author</th>
            <th>ISBN</th>
        </tr>
    </thead>
    <tbody>
      
        {% for book in object_list %}

            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.subtitle }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.isbn }}</td>

            </tr>

        {% endfor %}

    </tbody>

</table>
